@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: #f2f2f2;
  font-family: nunito, "sans-serif";
  max-width: 400px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 40vh;
  background-image: url(../image/psi.png);
  background-repeat: no-repeat;
  background-size: 200px;
  padding: 0 2%;
  overflow: hidden;
}

.logo {
  margin-top: 65px;
  width: 250px;
  height: 90px;
}

.perfil {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  box-shadow: 0 0 20px #08967e;
}

.cicle {
  width: 180px;
  height: 180px;
  margin-left: -153px;
  animation: girar 8s linear infinite;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60vh;
  background-image: url(../image/arvore.png);
  bac
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 2%;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(211, 210, 210, 0.52);
  border-radius: 1rem;
  margin-bottom: 8%;
  animation: aparecer 1s linear;
}

.button:hover {
  border: 0.5px solid #0cc1a7;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f2f2f2;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #73c7bb;
  margin-right: 5%;
}

.icon i {
  transform: scale(1.5);
  color: #107d68;
  /* color: #07706f; */
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 220px;
  height: 40px;
  font-weight: bold;
  font-size: 1.2rem;
  color: #9e1c5a;
  text-shadow: 0.2em 0.2em 0.2em #f2f2f2;
}

.redes-sociais {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.redes-sociais a i {
  color: #9e1c5a;
  transform: scale(1.7);
}

.swal-modal {
  transform: scale(0.8);
}

.swal-button {
  background-color: #0cc1a7;
}
